
name: iOS Test Workflow
on: [push]

jobs:
  build:
    name: Build and Test default scheme using iPhone simulator
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Force Xcode 12.4
        run: sudo xcode-select -switch /Applications/Xcode.app
      - name: testing ... iPhone 12 Pro Max
        run: >-
          xcodebuild test -workspace MediaJust.xcodeproj/project.xcworkspace
          -scheme MediaJust -destination 'platform=iOS Simulator,name=iPhone 12 Pro Max,OS=16.0'

